/* Heading styles */
h1 {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Andada Pro", serif;
}
h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
  font-family: "Andada Pro", serif;
}
h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Andada Pro", serif;
}

/* Text Styles */
i {
  font-size: 15px;
  font-family: "Andada Pro", serif;
  margin-top: 15px;
  margin-bottom: 15px;
}
.gray-text {
  color: #303030;
}
a {
  color: red;
}
a:hover {
  color: rgb(255, 65, 65);
}
div {
  display: flex;
  justify-content: center;
}
p {
  font-family: "Andada Pro", serif;
}
.para {
  margin-left: 220px;
  margin-right: 220px;
  font-size: 19px;
  margin-bottom: 30px;
}
div {
  display: flex;
  align-items: center;
}

/* Nav Styling */
.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  transition: 1s;
}
.nav-item:hover {
  background-color: #5b829166;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.nav-color {
  background: rgba(91, 130, 145, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
}
.nav {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

/* header and footer */
footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.banner-img {
  padding-bottom: 25px;
  padding-top: 25px;
}

/* Page Styling */
.background {
  background-color: #eaebed;
}
#video {
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Image Styling */
.img-wide {
  width: 700px;
  height: 400px;
}
