/* Heading styles */
h1 {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
}
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* Text Styles */
i {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.gray-text {
  color: #303030;
}
a {
  color: rgb(210, 0, 0);
  font-size: 18px;
  transition: 0.5s;
}
a:hover {
  color: rgb(255, 65, 65);
}
.div-center {
  display: flex;
  justify-content: center;
}
.para {
  margin-left: 220px;
  margin-right: 220px;
  font-size: 19px;
  margin-bottom: 20px;
  margin-top: 15px;
}

/* Nav Styling */
.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  transition: 1s;
}
.nav-item:hover {
  background-color: #5b829166;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.nav-color {
  background: rgba(91, 130, 145, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
}
.nav {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

/* header and footer */
footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.banner-img {
  padding-bottom: 25px;
  padding-top: 25px;
}

/* Page Styling */
.background {
  background-color: #eaebed;
}
#video {
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Image Styling */
.img-wide {
  width: 700px;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-med {
  width: 700px;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-square {
  width: 500px;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-small {
  width: 420px;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-square-large {
  width: 500px;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.img-large {
  height: 600px;
  width: 900px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Slideshow Styling */

.carousel-inner {
  height: 600px;
  width: 800px;
}
#carouselExampleControls {
  display: flex;
  justify-content: center;
}
.dark-circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}
#carousel-ctrl-nxt-id {
  width: 30%;
}
ol {
  margin-left: 200px;
  margin-right: 200px;
  font-style: italic;
}
#timeline-center {
  margin-left: 200px;
  margin-right: 200px;
}
.timeline-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
#stats-center {
  margin-left: 550px;
  margin-right: 200px;
}
.stats-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.stat-p {
  text-align: left;
}

.body-font {
  font-family: "Andada Pro", serif;
}
.small-hr {
  width: 700px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
